
body {
    background-color: #1230b8;
    color: #f1f1f1;
    font-family: sans-serif;
}

#titulo-principal {
    font-size: 40px;
    color: #ffae00e8;
    text-shadow: 2px 2px 4px #000000; /* sombrita para resaltar */
}

header {
    background-color: #ffc300;
    color: #003566;
    text-align: center;
}

h1 {
    font-size: 36px; 
}

nav {
    background-color: #000000;
    text-align: center;
}

/* sacar subrayado de los links */
a {
    color: #ffc300;
    text-decoration: none;
    font-weight: bold;
}

/* efecto al pasar el mouse */
a:hover {
    color: #ffffff;
}

main {
    background-color: #201583;
    color: #ecba13;
}

h2 {
    color: #dfc119;
    font-size: 24px;
}

footer {
    background-color: #111111;
    color: #aaaaaa;
    text-align: center;
}

.imagen-resaltada {
    display: block; /* para que no se pegue al texto */
    width: 400px;
}

/* estilos de la receta */
#pagina-de-la-receta {
    background-color: #5a0001;
    color: #f1f1f1;
}

#pagina-de-la-receta header {
    background-color: #222;
    color: #ffc300;
}

#pagina-de-la-receta ul, #pagina-de-la-receta ol {
    background-color: #333333;
    border: 2px solid #ffc300;
}

#horarios-curs {
    background-color: #c9d8e7;
    color: #000000;
}

#pagina-horarios {
    background-color: #6f8194;
}

#pagina-horarios table {
    width: 100%; 
    border-collapse: collapse;
    background-color: #d8d8d8; 
    color: #000000; 
}

th {
    background-color: #cfb23a;
    color: #000000;
    padding: 10px;
}

td {
    border: 1px solid #070707; 
    padding: 10px;
    text-align: center;
}

tr:hover {
    background-color: #c9d8e7;
}

.fila-salida {
    background-color: #ffc300;
    color: #000000;
    font-weight: bold;
}